.btn {
    display: inline-block;
	width: 110px;
	font-weight: 600;
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
	margin: 20px;

}

button:hover {
	animation-name: flash;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}


@keyframes flash {
	100% {
		background-color: #ffffff;
	}
	
}

.menu {
	align-items: center;
}
