* {
  font-family: 'Gugi', sans-serif;

}

.App {
  background-image: url(./2.jpg);
  background-size: cover;
  min-height: 100vh;
  font-size: 20px;
  color: white;
}

h1{
  text-align: center;
  margin-top: 40px;
  
}

/*.container {
  justify-content: center;
  align-items: center;
}*/


/*NavBar*/
.btn {
display: inline-block;
width: 110px;
font-weight: 600;
font-size: 16px;
padding: 10px 10px 10px 10px;
border-radius: 5px;
margin: 20px;


}

button:hover {
animation-name: flash;
animation-duration: 500ms;
animation-fill-mode: forwards;
}


@keyframes flash {
100% {
  background-color: #ffffff;
}

}

.menu {
align-items: center;
}


/*ItemListContainer*/
@keyframes bright {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#greeting {
  animation: bright 4s;
}


#greeting2 {
  animation: bright 4s;  
}


/*ItemCount*/
.count {
  padding: 4px 4px 4px 4px;
  width: 40px;
  height: 40px; 
  margin-left: 15px;
  margin-bottom: 0;
}

.cartplus {
  width: 200px;
  margin-left: 20px;
  margin-bottom: 5px;    
}

.cartplus:hover{
  color: black;
}

.stock {
  font-size: small;
  font-weight: 500;
  color: #136821;
  /*color: #1EA234;*/
}


/*Item*/

.beerCard {
  width: 18rem;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border-radius: 5%;
  color: black;
  align-items: center;
  text-align: center;
  display: inline-block;
  justify-content: center;
  margin-left: 5rem;
}

.beerCard img {
  width: 95%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  margin: 5px;
}


