.App {
  background-image: url(./assets/2.jpg);
  background-size: cover;
  min-height: 100vh;
  font-size: 20px;
  color: white;
}

.container {
  margin: auto;
}


/*NavBar*/
.btn {
display: inline-block;
width: 110px;
font-weight: 600;
font-size: 16px;
padding: 10px 10px 10px 10px;
border-radius: 5px;
margin: 20px;

}

button:hover {
animation-name: flash;
animation-duration: 500ms;
animation-fill-mode: forwards;
}


@keyframes flash {
100% {
  background-color: #ffffff;
}

}

.menu {
align-items: center;
}


/*ItemListContainer*/
@keyframes bright {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#greeting {
  animation: bright 4s;
}


#greeting2 {
  animation: bright 4s;  
}


/*ItemCount*/
.count {
  padding: 4px 4px 4px 4px;
  width: 40px;
  height: 40px; 
}

.cartplus {
  width: 200px; 
  margin-left: 535px;   
}


