* {
  font-family: 'Gugi', sans-serif;
  padding: 0px;
  margin: 0px;
}

.App {
  background-image: url(./2.jpg);
  background-size: cover;
  min-height: 100vh;
  font-size: 20px;
  color: white;
}

h1{
  text-align: center;
  margin-top: 40px;
  
}

.container{
  text-align: center;
}

a:link, a:visited, a:active {
  text-decoration:none;
}




/*NavBar*/
.btn {
display: inline-block;
width: 110px;
font-weight: 600;
font-size: 16px;
padding: 10px 10px 10px 10px;
border-radius: 5px;
margin: 20px;


}

button:hover {
animation-name: flash;
animation-duration: 500ms;
animation-fill-mode: forwards;
}


@keyframes flash {
100% {
  background-color: #ffffff;
}

}

.menu {
align-items: center;
}

.toggle:hover {
  color:black;
}


/*ItemListContainer*/
@keyframes bright {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#greeting {
  animation: bright 4s;
}


#greeting2 {
  animation: bright 4s;  
}


/*ItemCount*/
.count {
  padding: 4px 4px 4px 4px;
  width: 40px;
  height: 40px; 
  margin-left: 15px;
  margin-bottom: 0;
}

.cartplus {
  width: 200px;
  margin-left: 20px;
  margin-bottom: 5px;    
}

.cartplus:hover{
  color: black;
}

.stock {
  font-size: small;
  font-weight: 500;
  color: #136821;
  /*color: #1EA234;*/
}

.nstock{
  font-size: small;
  font-weight: 500;
  color: #e92121;
}


/*Item*/

.beerCard {
  width: 18rem;
  margin: 40px;
  background-color: white;
  border-radius: 5%;
  color: black;
  display: inline-block;
  box-shadow: 0px 2px 8px 0px white;
}


.beerCard img {
  width: 95%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  margin: 5px;
  
}
  
/*Cart*/

#cartitem {
  background-color: white;
  border-radius: 5%;
  height: 10rem;
  color: black;
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-content: space-between;
  box-shadow: #0a0808;
  margin: 7rem;
}

.cartimg {
  width: 6rem;
  height: 6rem;
  
}

.row {
  align-items: center;
}


.cartwidget {
  display: flex;
  align-items: center;
  
}

.cartnum {
  margin-left: 10px;
  color: #ffffff;
}

.center {
  text-align: center;
  margin: 20px;
}

.btn:hover {
  color: black;
}

/*Modal*/

.formgroup {
  margin: 20px 10px;
}

